.about__service-repair {
  background: #f8f8f8;

  .repair__block {
    display: flex;
    align-items: center;
    background: linear-gradient(270deg, #f8f8f8 0%, #ffffff 98.61%);
    height: 80px;
    border-top: 1px solid #d9fff5;
    margin-top: 20px;
    margin-bottom: 16px;

    @media (min-width: 768px) {
      margin-bottom: 30px;
    }

    .repair__text {
      margin-left: 16px;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.2px;
      text-transform: uppercase;
      color: #7e7e82;

      @media (min-width: 768px) {
        margin-left: 24px;
      }
    }
  }

  .brands__container {
    background: #f8f8f8;
    overflow: hidden;

    .swiper-container__brand {
      position: relative;
      overflow: hidden;
      max-height: 175px;
      background: #f8f8f8;
      transition: all 0.6s;

      @media (min-width: 320px) and (max-width: 767px) {
        max-height: 100vh;
      }

      .swiper-wrapper {
        list-style: none;
        padding: 0px;
        margin-left: 16px;

        @media (min-width: 768px) {
          flex-wrap: wrap;
          margin-left: 24px;
        }

        @media (min-width: 1440px) {
          flex-wrap: wrap;
          margin-left: 32px;
        }
      }
      .swiper-slide {
        width: 240px;

        @media (min-width: 768px) {
          width: 224px;
          margin-bottom: 16px;
          margin-right: 24px;
        }

        @media (min-width: 1440px) {
          width: 240px;
          margin-bottom: 16px;
          margin-right: 32px;
        }

        .btn-swipe {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-right: 16px;
          padding-left: 16px;
          width: -webkit-fill-available;
          height: 72px;
          background: #ffffff;
          border: 1px solid #eaeaea;
          box-sizing: border-box;
          border-radius: 6px;
        }
        .btn-swipe:hover {
          transform: scale(0.95);
          border: 1px solid #f50049;
        }
      }
      .swipe__pagination {
        position: unset;
        margin-top: 16px;

        @media (min-width: 768px) {
          display: none;
        }
      }
      .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        background-color: #dddddd;
      }
      .swiper-pagination-bullet-active {
        background-color: #b5b6bc;
      }
      &--active {
        overflow: visible;
        max-height: 100vh;
      }
    }

    .show__more {
      display: none;
      cursor: pointer;
      align-items: center;
      margin-left: 24px;
      border: 0px;
      padding: 0px;
      background: #f8f8f8;
      font-family: 'TT Lakes', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.2px;
      color: #1b1c21;
      margin: 0px 0px 0px 16px;

      @media (min-width: 768px) {
        display: flex;
        margin-left: 32px;
      }

      @media (min-width: 1440px) {
        margin-left: 39px;
      }

      &--none {
        display: none;
      }
    }
    .hide__all {
      display: none;
      cursor: pointer;
      align-items: center;
      margin-left: 24px;
      border: 0px;
      padding: 0px;
      background: #f8f8f8;
      font-family: 'TT Lakes', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.2px;
      color: #1b1c21;
      margin: 0px 0px 0px 16px;

      @media (min-width: 768px) {
        margin-left: 32px;

        &--active {
          display: block;
        }
      }

      @media (min-width: 1440px) {
        margin-left: 39px;
      }
    }

    .read__arrows {
      margin-right: 16px;
    }
  }

  .technique__container {
    background: #f8f8f8;
    overflow: hidden;
    .swiper-container__technique {
      position: relative;
      overflow: hidden;
      max-height: 175px;
      background: #f8f8f8;
      transition: all 0.6s;

      @media (min-width: 320px) and (max-width: 767px) {
        max-height: 100vh;
      }

      .swiper-wrapper {
        list-style: none;
        padding: 0px;
        margin-left: 16px;

        @media (min-width: 768px) {
          flex-wrap: wrap;
          margin-left: 24px;
        }

        @media (min-width: 1440px) {
          flex-wrap: wrap;
          margin-left: 32px;
        }
      }
      .swiper-slide {
        width: 240px;

        @media (min-width: 768px) {
          width: 224px;
          margin-bottom: 16px;
          margin-right: 24px;
        }

        @media (min-width: 1440px) {
          width: 240px;
          margin-bottom: 16px;
          margin-right: 32px;
        }
        .repairs_btn:hover {
          transform: scale(0.95);
          border: 1px solid #f50049;
        }
        .btn-swipe {
          display: flex;
          justify-content: space-between;
          padding-right: 16px;
          padding-left: 16px;
          width: inherit;
          height: 160px;
          background: #ffffff;
          border: 1px solid #eaeaea;
          box-sizing: border-box;
          border-radius: 6px;
          .btn-swipe:focus {
            transform: scale(1.95);
            border: 1px solid #f50049;
          }

          .rep__text {
            align-self: flex-start;
            margin-top: 16px;
            font-family: TT Lakes;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: -0.2px;
            color: #1b1c21;
          }

          .arrow {
            align-self: flex-end;
            margin-bottom: 16px;
          }
        }
      }
      .swiper-pagination__technique {
        position: unset;
        margin-top: 16px;
        text-align: center;
        transition: 0.3s opacity;
        transform: translate3d(0, 0, 0);
        z-index: 10;

        @media (min-width: 768px) {
          display: none;
        }
      }
      .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        background-color: #dddddd;
      }
      .swiper-pagination-bullet-active {
        background-color: #b5b6bc;
      }
      &--active {
        overflow: visible;
        max-height: 100vh;
      }
    }
    .show__more__technique {
      display: none;
      cursor: pointer;
      align-items: center;
      margin-left: 24px;
      border: 0px;
      padding: 0px;
      background: #f8f8f8;
      font-family: 'TT Lakes', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.2px;
      color: #1b1c21;
      margin: 0px 0px 0px 16px;

      @media (min-width: 768px) {
        display: flex;
        margin-left: 32px;
      }

      @media (min-width: 1440px) {
        margin-left: 39px;
      }

      &--none {
        display: none;
      }
    }
    .hide__all__technique {
      display: none;
      cursor: pointer;
      align-items: center;
      margin-left: 24px;
      border: 0px;
      padding: 0px;
      background: #f8f8f8;
      font-family: 'TT Lakes', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.2px;
      color: #1b1c21;
      margin: 0px 0px 0px 16px;

      @media (min-width: 768px) {
        margin-left: 32px;

        &--active {
          display: block;
        }
      }

      @media (min-width: 1440px) {
        margin-left: 39px;
      }
    }
    .read__arrows {
      margin-right: 16px;
    }
  }

  .prices__container {
    background: #f8f8f8;
    overflow: hidden;
    padding: 0 16px;

    @media (min-width: 768px) {
      padding: 0 24px;
    }

    @media (min-width: 1440px) {
      padding: 0 32px;
    }

    .swiper-container--prices {
      position: relative;
      overflow: hidden;
      background: #f8f8f8;

      @media (min-width: 320px) and (max-width: 767px) {
        max-height: none;
      }

      .table__caption {
        width: 100%;

        @media (min-width: 320px) and (max-width: 767px) {
          display: none;
        }
        @media (min-width: 768px) {
          display: flex;
          justify-content: space-between;
          padding-left: 16px;
          padding-right: 16px;

          .caption__text {
            font-size: 14px;
            line-height: 16px;
            color: #7e7e82;
            mix-blend-mode: normal;
            opacity: 0.72;
            padding-bottom: 16px;

            &.rep {
              flex-basis: 53%;
              padding-right: 12px;
            }

            &.price {
              flex-basis: 13.5%;
              padding-right: 12px;
            }

            &.temp {
              flex-basis: 14%;
              padding-right: 12px;
            }
          }

          .caption__empty {
            visibility: hidden;
            width: 119px;
            height: 16px;
          }
        }
      }

      .swiper-wrapper {
        list-style: none;
        padding: 0px;
        margin-top: 0;

        @media (min-width: 768px) {
          flex-direction: column;
        }

        @media (min-width: 1440px) {
          flex-wrap: wrap;
        }
      }
      .swiper-slide {
        width: 260px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding-right: 16px;
        padding-left: 16px;
        height: 200px;
        background: #ffffff;
        border: 1px solid #eaeaea;
        box-sizing: border-box;
        border-radius: 6px;

        @media (min-width: 768px) {
          width: 100%;
          height: 64px;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          border: unset;
          border-bottom: 1px solid #eaeaea;
          border-radius: unset;
        }

        @media (min-width: 1440px) {
          height: 64px;
        }

        .price__service {
          display: flex;
          flex-direction: column;

          &.service__block {
            @media (min-width: 768px) {
              flex-basis: 53%;
            }
          }

          &.price__block {
            @media (min-width: 768px) {
              flex-basis: 13.5%;
            }
          }

          &.term__block {
            @media (min-width: 768px) {
              flex-basis: 14%;
            }
          }

          .price-service__text-title {
            font-size: 14px;
            line-height: 16px;
            color: #7e7e82;
            mix-blend-mode: normal;
            opacity: 0.72;

            @media (min-width: 768px) {
              display: none;
            }
          }

          .price-service__text-about {
            font-size: 14px;
            line-height: 18px;
            letter-spacing: 0.2px;
            color: #1b1c21;
            padding-top: 4px;
          }
        }

        .order__btn {
          position: absolute;
          cursor: pointer;
          left: 125px;
          top: 152px;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          height: 32px;
          width: 119px;
          background: #ff3e79;
          border: 0;
          box-sizing: border-box;
          border-radius: 16px;
          transition: all 0.6s;

          &:hover {
            background-color: #fa88aa;
            transform: scale(1.1);
          }

          &:focus {
            background-color: #f50049;
            transform: scale(1.05);
          }

          @media (min-width: 768px) {
            position: unset;
            left: unset;
            top: unset;
          }

          .order__text {
            font-family: 'TT Lakes';
            font-size: 12px;
            font-weight: bold;
            line-height: 24px;
            letter-spacing: -0.15px;
            text-transform: uppercase;
            color: #ffffff;
          }
        }
      }
      .swiper-pagination--prices {
        position: unset;
        margin-top: 16px;
        text-align: center;
        transition: 0.3s opacity;
        transform: translate3d(0, 0, 0);
        z-index: 10;

        @media (min-width: 768px) {
          display: none;
        }
      }
      .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        background-color: #dddddd;
      }
      .swiper-pagination-bullet-active {
        background-color: #b5b6bc;
      }
    }

    .offer__block {
      .offer__text {
        font-family: 'TT Lakes';
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2px;
        color: #1b1c21;

        @media (min-width: 768px) {
          width: 421px;
        }
      }

      .offer__link {
        position: relative;
        font-family: 'TT Lakes';
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        text-align: left;
        font-weight: 500;
        text-decoration: none;
        padding-right: 16px;
        color: #1b1c21;
        transition: color 0.3s;

        &:hover {
          color: #ff3e79;
        }

        &::after {
          content: '';
          position: absolute;
          right: 4px;
          bottom: 4px;
          display: block;
          width: 7.5px;
          height: 12px;
          background-image: url(../img/Line-right.svg);
        }
      }
    }
  }
}
