html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'TT Lakes', sans-serif;
  margin: 0px;
  min-width: 320px;
  background-color: #f8f8f8;
}
.container::-webkit-scrollbar {
  width: 0;
  overflow: scroll;
  scrollbar-width: none;
}

@media (min-width: 1440px) {
  body {
    background: #f8f8f8;
  }
}

.container {
  @media (min-width: 1440px) {
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
  }
}

.main-inform {
  background-color: #f8f8f8;
}

.main-inform__blur {
  position: fixed;
  z-index: -1;
  opacity: 0;
  background-color: #fff;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s;

  &--active-blur {
    z-index: 50;
    opacity: 0.9;
  }
}

@import url(../fonts/TTLakes/TTLakes.css);
@import 'sidebar';
@import 'main';
@import 'header';
@import 'footer';
@import 'slider';
@import 'modal-window';
